################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieRentalApp/.vs/MovieRentalApp/FileContentIndex/6b284406-aef8-426b-bce2-2587189418c9.vsidx
/MovieRentalApp/.vs/MovieRentalApp/FileContentIndex/6b284406-aef8-426b-bce2-2587189418c9.vsidx
/MovieRentalApp/.vs/MovieRentalApp/FileContentIndex/6b284406-aef8-426b-bce2-2587189418c9.vsidx
/MovieRentalApp/.vs/MovieRentalApp/FileContentIndex/6b284406-aef8-426b-bce2-2587189418c9.vsidx
/MovieRentalApp/.vs/MovieRentalApp/FileContentIndex
/.gitignore
